@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(45deg, #34292c, #663444 50%);
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
}

/*-------- NAVBAR --------*/
.headerNav {
    padding: 20px 50px;
    background-color: #663444;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px rgba(147, 147, 147, 0.468);
    position: fixed;
    z-index: 2;
    width: 100%;
    overflow: auto;
}

.logoNAV {
    width: 140px;
}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navBar li {
    list-style: none;
}

.navBar a {
    font-family: 'Roboto', sans-serif;
    color: hsl(0, 0%, 82%);
}

.btnContatos {
    padding: 10px;
    border: 2px solid #D1D1D1;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(147, 147, 147, 0.468);
}

/*-------- HOME --------*/
.home {
    /*background: rgb(102, 52, 68);*/
    /*background-image: linear-gradient(45deg, #34292c, #663444 50%);*/
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-top: 90px;
    height: 100vh;
    width: 100vw;
}

.textosPrincipais {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#texto1Home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 47px;
    color: #fff;
}

#texto2Home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 550;
    font-size: 55px;
    line-height: 70px;
    color: #fff;
}

.imgHome {
    width: 750px;
    height: 750px;
}

/*-------- SOBRE MIM --------*/
.sobremim {
    background: #D9D9D9;
    padding: 100px;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    justify-content: center;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#fotoPerfil {
    height: 270px;
}

.textosSobreMim {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtEmilyScoparo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtEmily {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 150px;
    color: #663444;
}

#txtScoparo {
    font-family: 'Nunito', sans-serif;
    color: #F6A192;
    font-size: 50px;
    position: relative;
    top: -30px;
    letter-spacing: 22px;
}

.txtDescricoes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #808080;
    justify-content: center;
    align-items: center;
}

/*-------- PROJETOS --------*/

.projetos {
    /*background: #663444;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    height: auto;
    width: 100vw;
    overflow:hidden;
}

.textosProjetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtProjetos {
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    font-weight: 450;
    color: #F6A192;
}

#txtDescricao {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: #BFBFBF;
    text-align: center;
}

.meusProjetos {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.benner,
.enade,
.valorizza {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.titulosBenner,
.titulosEnade,
.titulosValorizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 0px 30px;
    border-bottom: 1px solid #66344451;
}

#txtBenner,
#txtValorizza,
#txtEnade {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #663444;
}

#txtIntegracao {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 350;
    color: #F6A192;
    position: relative;
    top: -10px;
    letter-spacing: 3px;
}

.iconesBenner, 
.iconesEnade,
.iconesValorizza {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtIcones {
    font-family: 'Nunito', sans-serif;
    color: #F6A192;
    font-size: 25px;
} 

#detalhesBenner,
#detalhesEnade,
#detalhesValorizza {
    background-color: #663444df;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #fff;
}

/*-------- CONTATOS --------*/
.contatos {
    background: #D9D9D9;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 100vw;
}

.textosContatos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#txtContato {
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    color: #663444df;
    font-weight: 450;
}

#txtDescContatos {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    color: #808080;
    text-align: center;
}

.meusContatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.email {
    background-color: #663444;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#txtEmail {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 150;
    color: #D9D9D9;
}

#txtMeuEmail {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #F6A192;
}

.whatsapp,
.linkedin,
.github {
    background-color: #663444;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#btnWpp,
#btnLinkedin,
#btnGithub {
    background-color: #663444;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #F6A192;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.LogoFooter {
    width: 250px;
    height: 250px;
}

@media (max-width: 769px) {
    nav {
        display: none;
    }

    .headerNav {
        display: flex;
        justify-content: center;
    }

    .home {
        display: flex;
        justify-content: center;
        padding: 118px 0 24px;
    }

    #texto1Home,
    #texto2Home {
        font-size: 1.25rem;
        line-height: 30px;
        text-align: center;
        width: 100%;
    }

    .sobremim,
    .contatos,
    .projetos {
        padding: 24px 20px 12px;
    }

    .meusProjetos,
    .sobremim {
        flex-direction: column;
    }

    #fotoHabilidades,
    .imgHome {
        display: none
    }

    .txtScoparo {
        top: 0;
    }

    .txtDescricoes,
    #txtDescContatos,
    #txtDescricao {
        font-size: 1.15rem;
    }

    #txtContato,
    #txtProjetos {
        font-size: 2.75rem;
    }

    #txtEmily {
        font-size: 6rem;
    }

    .txtScoparo {
       letter-spacing: -10px; 
    }

    p#txtEmail,
    p#txtMeuEmail,
    button#btnLinkedin {
        font-size: 1rem;
    }

    .email {
        padding: 12px 8px;
    }

    .linkedin {
        padding: 12px 24px;
    }

    .github {
        padding: 12px 24px;
    }
}